.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
build.gradle.kts
gradlew
gradlew.bat
settings.gradle.kts
gradle/
docker
out/
!**/src/main/**/out/
!**/src/test/**/out/

.DS_Store